[Unit]
Description=TWAMP Light Session Reflector
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/twamp_server
PIDFile=/run/twamp_server.pid
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target

