[Unit]
Description=TWAMP Server Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/twamp_server
Restart=on-failure
User=root
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

